<div class="card-header">
    <h3>Sallaries comming here soon !</h3>
    <a class="btn btn-sm btn-outline-success" asp-controller="Sallaries" asp-action="IndexSallaryAccounts">To Sallary Accounts !</a>
    <a class="btn btn-sm btn-outline-success" asp-controller="Sallaries" asp-action="IndexTransactions">To Transaction !</a>
    <a class="btn btn-sm btn-outline-success" asp-controller="Sallaries" asp-action="SallaryAccountBalance">To SallaryAccountBalance !</a>
    <a class="btn btn-sm btn-outline-success" asp-controller="Home" asp-action="Admin">To Admin !</a>
</div>