@{
    ViewData["Title"] = "Billing Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Fakturering</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearchBillingPosts" asp-controller="Accounting" class="btn btn-sm btn-outline-success">Till Fakturaposter</a>
        - Faktureringen
    </div>
</div>
