@{
    ViewData["Title"] = "Billing Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Fakturering</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearchBillingPosts" asp-controller="Accounting" class="btn btn-sm btn-outline-success">Till Fakturaposter</a>
        - Faktureringen
    </div>
    <div class="card-footer text-left">
        <ul style="list-style-type:square;">
            <li><a href="https://apps.fortnox.se/fs/login.php?lang=se" target="_blank">FortNox - Login !</a></li>            
        </ul>
    </div>
</div>
