@{
    ViewData["Title"] = "Home Page";
}
<div class="card card-columns text-center" style="width: 50%">
    <div class="text-center">

        <h1 class="display-4">Welcome</h1>
        <h6>TO</h6>
        <a><img src="~/img/NetelloAB-Logo10procent.jpg" /></a>
    </div>
</div> 
