@{
    ViewData["Title"] = "Planning Page";
}


    <div class="card card-columns text-center" style="width: 50%">
        <div class="card-header">
            <h6>Incidents</h6>
        </div>
        <div class="card-footer text-left">
            <a asp-action="IndexPlansSearch" asp-controller="Plans" class="btn btn-sm btn-outline-success">Go to Plans</a>
            - Register, Edit Plans
        </div>
        <div class="card-footer text-left">
            <a asp-action="Index" asp-controller="Jobs" class="btn btn-sm btn-outline-success">Go to Jobs</a>
            - Register, Edit Jobs
        </div>
    </div>