@{
    ViewData["Title"] = "Reports Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Agenda</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearchAgendaPosts" asp-controller="Agenda" class="btn btn-sm btn-outline-success">Go to Agenda</a>
        - Lista Agendanorna för Per och Jones
    </div>    
</div>
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Bilder</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="Image" class="btn btn-sm btn-outline-success">Till Bilder</a>
        - Lista alla Bilder
    </div>
</div>
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Timbanken</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearchTimBanksPosts" asp-controller="Accounting" class="btn btn-sm btn-outline-success">Go to Timbanken</a>
        - Lista TimbanksPosterna för hela företaget
    </div>
</div>
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Work Reports</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="WLogs" class="btn btn-sm btn-outline-success">Go to WLogs</a>
        - Register, Edit WLogs
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="NABLogs" class="btn btn-sm btn-outline-success">Go to NABLogs</a>
        - Register, Edit NABLogs
    </div>
</div>
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Time Reports</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="TimeLogs" class="btn btn-sm btn-outline-success">Go to Time Logs</a>
        - Register, Edit TimeLogs (To get the sallary report)
    </div><div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="Reports" class="btn btn-sm btn-outline-success">Go to Time Reports</a>
        - Create, Edit Time Reports
    </div>
</div>