@{
    ViewData["Title"] = "Reports Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Work Reports</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="WLogs" class="btn btn-sm btn-outline-success">Go to WLogs</a>
        - Register, Edit WLogs
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="NABLogs" class="btn btn-sm btn-outline-success">Go to NABLogs</a>
        - Register, Edit NABLogs
    </div>
</div>
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Time Reports</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="IndexSearch" asp-controller="TimeLogs" class="btn btn-sm btn-outline-success">Go to Time Logs</a>
        - Register, Edit TimeLogs (To get the sallary report)
    </div>    
</div>