@{
    ViewData["Title"] = "Settings Page";
}
<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Settings Prios, Statuses, Types</h6>
        <a asp-action="Admin" asp-controller="Home" class="btn btn-sm btn-outline-success">Back to ADMIN</a>
    </div>
</div>
<div class="card card-columns" style="width: 50%">
    <div class="card-header">
        <h6>Priorities Administration</h6>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="IncidentPriorities" class="btn btn-sm btn-outline-success">Go to IncidentPriorities</a>
        - Administrate IncidentPriorities
    </div>
</div>
<div class="card card-columns" style="width: 50%">
    <div class="card-header">
        <h6>Statuses Administration</h6>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="AssetStatus" class="btn btn-sm btn-outline-success">Go to AssetStatus</a>
        - Administrate Asset Statuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="BillStatus" class="btn btn-sm btn-outline-success">Go to BillStatus</a>
        - Administrate BillStatuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="CompanyStatus" class="btn btn-sm btn-outline-success">Go to CompanyStatus</a>
        - Administrate CompanyStatuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="IncidentStatus" class="btn btn-sm btn-outline-success">Go to IncidentStatus</a>
        - Administrate IncidentStatuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="NABLogStatus" class="btn btn-sm btn-outline-success">Go to NABLogStatus</a>
        - Administrate NABLogStatuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="PersonStatus" class="btn btn-sm btn-outline-success">Go to PersonStatus</a>
        - Administrate PersonStatuses
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="WLogStatus" class="btn btn-sm btn-outline-success">Go to WLogStatus</a>
        - Administrate WLogStatuses
    </div>        
</div>
<div class="card card-columns" style="width: 50%">
    <div class="card-header">
        <h6>Types Administration</h6>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="AssetTypes" class="btn btn-sm btn-outline-success">Go to AssetTypes</a>
        - Administrate AssetTypes
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="CompanyTypes" class="btn btn-sm btn-outline-success">Go to CompanyTypes</a>
        - Administrate CompanyTypes
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="IncidentTypes" class="btn btn-sm btn-outline-success">Go to IncidentTypes</a>
        - Administrate IncidentTypes
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="PersonTypes" class="btn btn-sm btn-outline-success">Go to PersonTypes</a>
        - Administrate PersonTypes
    </div>
</div>