
@{
    ViewData["Title"] = "Support portal";
}

    <div class="card text-center" style="width: 50%">
        <div class="card-header text-center">
            <div class="card text-center" style="width: 100%">
                <div class="text-center">
                    <h6 class="display-4">Welcome</h6>
                    <h6>TO</h6>
                    <a><img src="~/img/NetelloAB-Logo10procent.jpg" /></a>
                    <h6>Customer support portal</h6>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-footer">
                <a asp-action="CreateSupportRequestPortal" asp-controller="Support" class="btn btn-sm btn-outline-success">Make a support request</a>
               
            </div>
        </div>
        <div class="card-footer text-center">
            <h6>Sample text !</h6>
        </div>
    </div>
