@{
    ViewData["Title"] = "Billing Page";
}

<div class="card card-columns text-center" style="width: 50%">
    <div class="card-header">
        <h6>Support</h6>
    </div>
    <div class="card-footer text-left">
        <a asp-action="ListSupportRequests" asp-controller="Support" class="btn btn-sm btn-outline-success">Till Support förfrågningar</a>
        - Supporten
    </div>
    <div class="card-footer text-left">
       
    </div>
</div>
