<div class="card card-columns">
    <div class="card-header">
        <h3>Löne administration</h3>
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearchTBPostsPaid" asp-controller="Sallary" class="btn btn-sm btn-outline-success">Sök ut Timbanksposter </a>
        - Här söker du fram de poster som är betalda till respektive anställd.
    </div>
    <div class="card-footer">
        <a asp-action="IndexSearchTBPTransactions" asp-controller="Sallary" class="btn btn-sm btn-outline-success">Lista Lönekontostransaktioner</a>
        - Här lägger du till timmar till ett Lönekonto och kan söka ut balansen på lönekonton.
    </div>
    <div class="card-footer">
        <a asp-action="SallaryAccountBalance196409181135PO" asp-controller="Sallary" class="btn btn-sm btn-outline-success">Lönekonto : 196409181135PO</a>
        - Här går du direkt till KNO: 196409181135PO och kan se saldot samt lägga in poster !
    </div>
    <div class="card-footer">
        <a asp-action="SallaryAccountBalance199204184130JM" asp-controller="Sallary" class="btn btn-sm btn-outline-success">Lönekonto : 199204184130JM</a>
        - Här går du direkt till KNO: 199204184130JM och kan se saldot samt lägga in poster !
    </div>
</div>