@model AgendaPost

@{
    ViewData["Title"] = "EditAgendaPost";
}

<div class="card">
    <div class="card-header">
        <h6>Agenda Post: @Html.DisplayFor(model => model.DateAndTime)</h6>
        <h6>Skapad av: @Html.DisplayFor(model => model.ApplicationUserId)</h6>
        <a class="btn btn-sm btn-outline-success" asp-controller="Agenda" asp-action="IndexSearchAgendaPosts">Back to Agendaposts</a>
    </div>   
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditAgendaPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="DateAndTime" class="control-label"></label>
                        <input asp-for="DateAndTime" class="form-control" />
                        <span asp-validation-for="DateAndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApplicationUserId" class="control-label"></label>
                        <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                        <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>